<!DOCTYPE html>
<html>
<head>
    <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <footer>
        <p>Contact us at <b>070739861</b></p>
        <p><b>Tomtebodavägen 3A, 171 65 Solna</b></p>
        <p id="trademark">&copy; 2023 William Lundqvist</p>
    </footer>
    </body>
</html>