<!DOCTYPE html>
<html>
<head>
    <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1 id="headerTitle">NFC</h1>
        <a href="/start">Start</a>
        <a href="/members">Members</a>
        <a href="/create">Add</a>
    </header>